.search-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 400px;
}

#student-search-btn {
	height: 38px;
}

.search-result {
	list-style: none;
	cursor: pointer;
	height: 30px;
	border: 10px black;
}
