.new-student-form-panel {
	width: 400px;
	display: flex;
	justify-self: center;
	margin-top: 20px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form > :not(:last-child) {
	margin-bottom: 10px;
}

.btn {
	margin-top: 10px;
}

@media screen and (max-width: 960px) {
}
